<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bill.zts.com.bill">

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/FirstTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DatePickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AboutAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.tt"
            android:label="@string/title_activity_tt"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="579589e7e0f55ae33d000b46" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />


    </application>

</manifest>